# Dataset (too large for GitHub)
archive/
Data/
*.zip
*.wav

# Saved models (Needed for app, ~4.7MB total)
# *.pkl

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
